---
layout: base.njk
title: Illustrations
---

{# THERE SHOULD BE A LINK TO PHOTOSWIPE STYLESHEET SOMEWHERE! #}
<section class="pswp-gallery" id="artgallery">
    {% for image in images %}
        {% if image.url | length %}
            <a href="{{ image.url }}" data-pswp-width="{{ image.width }}" data-pswp-height="{{ image.height }}" target="_blank" class="gallery-img">
                <picture>
                    {% if image.thumbAvif %}
                        <source type="image/avif" srcset="{{ image.thumbAvif }}">
                        {% endif %}
                        <img loading="lazy" alt="{{ image.alt }}" src="{{ image.thumb }}" width="300px" height="300px"></picture>
                    </a>
                {% endif %}
            {%- endfor %}
        </section>
        <script type="text/javascript" src="/static/scripts/umd/photoswipe.umd.min.js"></script>
        <script type="text/javascript" src="/static/scripts/umd/photoswipe-lightbox.umd.min.js"></script>
        <script type="text/javascript" src="/static/scripts/gallery.cjs"></script>