---
title: camber
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Title -->
        <title>{{ Title }}</title>
        <link
        rel="icon" type="image/png" href="imgs/pfp-ico.png"> <!-- Display information -->
        <meta charset="UTF-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1"> <!-- Stylesheets -->
        <link
        rel="stylesheet" href="styles/default.css">
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/c938d70fe8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>