h1, h2, h3 {
    font-family: 'Satisfy', cursive;
    color: #FFFFFF;
}

body {
    font-family: 'Patrick Hand', sans-serif;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 17pt;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 28pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 20pt;
}

main {
    width: 55%;
    margin: auto;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.navlink {
    margin: 0% 5% 0% 5%;
}

.icons {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a.txtlink:hover {
    text-decoration: underline;
}

a.btn {
    background-color:#000000;
    padding: 10px;
    margin: 30px 10px 10px 10px;
}

.btn:hover {
    background-color:#6b5e9b55;
}

.step {
    width: 80%;
    padding: 10px 10px;
}

#step1, #step3 {
    float:right;
}

#step2 {
    float:left;
}

svg.stepsvg {
    display: none;
}



/* For small screens */
@media only screen and (max-width: 700px) {
    main {
        width: 95%;
        margin: auto;
    }
    
    .navlink {
        margin: 0%;
    }
    
    .step {
        width: 100%;
        float: none;
    }
    
}

/* For large screens */
@media only screen and (min-width: 1000px) {
    svg.stepsvg {
        display: block;
    }
}
